h1 {
  color: green;
}

p {
  color: tan;
}

.card {

}

body {
  text-align: center;
}

.board {
  height: 80%;
  width: 65%;
  display: inline-block;
  background-color: purple;
}

.card {
  height: 200px;
  width: 150px;
  border: black 10px;
  background-color: teal;
  color: yellow;
  border-radius: 10px;
  display: inline-block;
  text-align: center;
  margin: 7px;
}
footer {
  padding-top: 35px;
}
