h1 {
  color: green;
}

p {
  color: black;
}
#game-text {
  color: red;
}

.card {

}

body {
  text-align: center;
}

.board {
  height: 45%;
  width: 85%;
  display: inline-flex;
  background-color: tan;
  padding: 5%;
}
.card img {
  max-width: 80%;
  max-height: 70%;
  visibility: visible;
  margin-top: 15%;
}
.card {
  height: 160px;
  width: 150px;
  border: black 10px;
  background-color: teal;
  color: yellow;
  border-radius: 10px;
  display: inline-block;
  text-align: center;
  margin: 7px;
  visibility: visible;
}
footer {
  padding-top: 35px;
}
